.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
    font-size: 20px;
  }
  .greenstatus{
    color: rgb(79, 230, 172);
  }
  .redstatus{
    color: red
  }
  .pend{
    color:orange
  }
  .table th {
    background-color: #f4f4f4;
  }
  